<div id="eyecach">
    <div class="eyecach-img-text">
      <h1>First Beauty Action</h1>
      <!-- <p>＃あなたの生活にちょっとした変化を</p> -->
    </div>
</div>

<div id="about">
  <h1>サロンについて</h1>
  <div class="about-img"></div>
  <div class="about-text">
    <p class="about-text-1">
      弊サロンはFirst Beauty Actionの店舗内にあるネイルサロンです。他にもマツエクのサービスがありますが、マツエクについてはネイルブックでご確認下さい。
    </p>
    <p class="about-text-2">
      キャンペーン、サンプルネイル、トレンドネイル、持ち込み画像も定額料金なので初心者の方でも安心！！！
    </p>
    <p class="about-text-3">
      お子様連れの方も安心してご来店いただけますようにキッズルームも施しております。
    </p>
    <p class="about-text-4">
      是非、寛ぎのひと時をお過ごしください♡
    </p>
  </div>
</div>

<div id="menu">
  <div class="menu-box">
    <h1>メニュー</h1>
      <div class="menu-box-in">
        <h2 class="gelcose">◆ジェルコース</h2>
        <div class="aaa-top">
          <div class="ccc">
            <p>ワンカラー</p>
          </div>
          <div class="bbb">
            <p>¥4,000</p>
          </div>
        </div>
        <div class="aaa">
          <div class="ccc">
            <p>やり放題①コース</p>
          </div>
          <div class="bbb">
            <p>¥5,000</p>
          </div>
          <p class="note">ストーン4本､アート4本まで /
            定額サンプル / ラメグラデ / フレンチ / グラデ / お持ち込みデザイン</br>
            ※ エンボス3Dアートは行っておりません。</p>
        </div>
        <div class="aaa">
          <div class="ccc">
            <p>やり放題②コース</p>
          </div>
          <div class="bbb">
            <p>¥6,000</p>
          </div>
          <p class="note">ストーン①以上 / 定額サンプル / 全アート / お持込みデザイン</br>
            ※ エンボス3Dアートは行っておりません。</br>※ キャラクター等は別途料金になります。</p>
        </div>
        <div class="aaa">
          <div class="ccc">
            <p>フットやり放題コース</p>
          </div>
          <div class="bbb">
            <p>¥5,000</p>
          </div>
          <p class="note">フットバスケア付き</p>
        </div>
        <h2 class="other">◆長さだし</h2>
        <div class="aaa-top">
          <div class="ccc">
            <p>１本</p>
          </div>
          <div class="bbb">
            <p>¥500</p>
          </div>
        </div>
        <h2 class="other">◆ジェル付け替え</h2>
        <div class="aaa-top">
          <div class="ccc">
            <p>当店ジェルOFF</p>
          </div>
          <div class="bbb">
            <p>¥500</p>
          </div>
        </div>
        <div class="aaa-top">
          <div class="ccc">
            <p>他店ジェルOFF</p>
          </div>
          <div class="bbb">
            <p>¥1,000</p>
          </div>
        </div>
        <h2 class="other">◆ジェルOFF</h2>
        <div class="aaa-top">
          <div class="ccc">
            <p>当店OFF</p>
          </div>
          <div class="bbb">
            <p>¥1,500</p>
          </div>
        </div>
        <div class="aaa-top">
          <div class="ccc">
            <p>他店OFF</p>
          </div>
          <div class="bbb">
            <p>¥2,500</p>
          </div>
        </div>
        <h2 class="other">◆お直し</h2>
        <div class="aaa-top">
          <div class="ccc">
            <p>１本</p>
          </div>
          <div class="bbb">
            <p>¥500</p>
          </div>
          <p class="note">施術から1週間以内はお直し無料</p>
        </div>
      </div>
  </div>
</div>
<div id="profile">
  <h1>プロフィール</h1>
  <div class="profile-img"></div>
  <div class="profile-container">
    <div class="staff">
      <p><span class="under">Chiaki</span></p>
    </div>
    <div class="carer">
      <p>ネイリスト歴6年。</br>
        東京の専門学校を卒業後ネイリストへ。</br>
        <span class="under2">一児のママなのでママトークも是非♡</span></p>
    </div>
    <div class="commit">
      <p>丁寧な施術を心掛けております。また、お客様のライフスタイルにあったネイルを提案してますので、指先のオシャレを気軽に楽しみませんか？</br>皆様との出会いを心よりお待ちしております。</p>
    </div>
  </div>
</div>
<div id="inquiry">
  <h1 class="inquiry-top">ご予約/お問い合わせ</h1>
  <div class="inquiry-Content">
      <div class="inquiry-Content-in">
        <div class="left">
          <p class="top">当サロンへのご予約・お問い合わせにつきましては、LINE＠、インスタ、ネイルブックにて承っております。</br>
                        ネイルに関するご相談も、お気軽にご連絡ください。</p>
          <p class="address">山梨県甲府市国母8-20-40</p>
          <p class="time">営業時間 : 10:00 ~ 18:00</p>
          <p class="time">定休日 　: 月曜日と他(ネイルブックで確認できます)</p>
          <p class="link space"><span><i class="fab fa-line"></i></span> @odm9911p</p>
          <p class="link"><span><i class="fab fa-instagram"></i></span> first_beautyact</p>
          <p class="url"><a class="url" href="https://nailbook.jp/nail-salon/22386/">https://nailbook.jp/nail-salon/22386</a></p>
        </div>
      </div>
      <div class="mapfream">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3242.7999405863793!2d138.55144911525738!3d35.63265818020564!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x601bf75154ece359%3A0x8b8be9330fef997d!2z44CSNDAwLTAwNDMg5bGx5qKo55yM55Sy5bqc5biC5Zu95q-N77yY5LiB55uu77yS77yQ4oiS77yU77yQ!5e0!3m2!1sja!2sjp!4v1545387195666" width="800" height="440" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
      <div class="mapfream-pro">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3242.7999405863793!2d138.55144911525738!3d35.63265818020564!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x601bf75154ece359%3A0x8b8be9330fef997d!2z44CSNDAwLTAwNDMg5bGx5qKo55yM55Sy5bqc5biC5Zu95q-N77yY5LiB55uu77yS77yQ4oiS77yU77yQ!5e0!3m2!1sja!2sjp!4v1545387195666" width="530" height="370" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
      <div class="mapfream2">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3242.7999405863793!2d138.55144911525738!3d35.63265818020564!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x601bf75154ece359%3A0x8b8be9330fef997d!2z44CSNDAwLTAwNDMg5bGx5qKo55yM55Sy5bqc5biC5Zu95q-N77yY5LiB55uu77yS77yQ4oiS77yU77yQ!5e0!3m2!1sja!2sjp!4v1545387195666" width="330" height="240" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
      <div class="mapfream3">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3242.7999405863793!2d138.55144911525738!3d35.63265818020564!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x601bf75154ece359%3A0x8b8be9330fef997d!2z44CSNDAwLTAwNDMg5bGx5qKo55yM55Sy5bqc5biC5Zu95q-N77yY5LiB55uu77yS77yQ4oiS77yU77yQ!5e0!3m2!1sja!2sjp!4v1545387195666" width="280" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
  </div>
</div>
<div class="footer">
  <p>©️First Beauty Action</p>
</div>
