/*　画面固定　*/

#header{
  height: 70px;
  width: 100%;
  background-color: white;
  opacity: 0.9;
  z-index: 10;
  border-bottom: solid 2px black;
  position:fixed; // 要素をスクロールに応じて固定
  top:0; // 縦スクロールに追従
  z-index: 10; // z-indexで最前面に持ってくる
}

.pc-none{
  display: none;
}

.salon{
  font-family: 'Berkshire Swash', cursive;
  float: left;
  text-decoration: none;
  font-size: 37px;
  line-height: 70px;
  margin-left: 50px;
  color: #FF1493;
  letter-spacing: -1px;
}

.header-list{
  float: left;
  float: right;
  margin-right: 20px;
  height: 50px;
  list-style: none;
}

.header-list li{
  font-size: 17px;
  float: left;
  line-height: 70px;
  padding: 0 20px;
  font-weight: bold;
  font-family: 'Londrina Outline', cursive;
}

.text{
  color: #FF1493;
  text-decoration: none;
}

/*　トップ画像　*/

#eyecach{
  height: 650px;
  width: 100%;
  background-image: image-url("IMG_3045.JPG");
  margin-top: 70px;
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.eyecach-img-text{
  width: 83%;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.eyecach-img-text h1{
  display: none;
}

.eyecach-img-text p{
  font-size: 30px;
  color: white;
  text-align: center;
  z-index: 1;
  text-shadow: 1px 1px 5px black;
}


/*　~について　*/

#about{
  height: 750px;
}

#about h1{
  font-size: 25px;
  padding: 120px 0 50px 0;
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
}

.about-img{
  float: left;
  height: 400px;
  width: 600px;
  margin: 60px 0 0 130px;
  background-image: image-url("IMG_3043.JPG");
  background-size: cover;
  background-position: bottom;
}

.about-text{
  height: 300px;
  width: 450px;
  float: left;
  margin: 60px 0 0 90px;
}

.about-text p{
  font-size: 18px;
  line-height: 2.2em;
  font-weight: bold;
  font-family: 'Noto Sans SC', sans-serif;
}

.about-text-1{
  margin: 5px 0 30px 0;
}

.about-text-2{
  margin: 30px 0;
}
/*　メニューリスト　*/
#menu{
  height: 1400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #D2B48C;
  // background-image: image-url("table.jpg");
  // background-size: cover;
  // background-position:100%;
}

// #menu::before{
// 	/* 透過した黒を重ねる */
// 	background-color: rgba(0,0,0,0.2);
// 	/* どの範囲に重ねるかを指定 */
// 	position: absolute;
// 	top: 0;
// 	right: 0;
// 	bottom: 0;
// 	left: 0;
// 	content: ' ';
// }

.menu-box{
  height: 88%;
  width: 60%;
  background-color: #F5F5F5;
  z-index: 1;
}

.menu-box h1{
  text-align: center;
  padding-top: 60px;
  font-size: 25px;
  font-weight: bold;
  font-family: sans-serif;
}

.menu-box-in{
  height: 80%;
  width: 80%;
  margin: 0 auto;
}

.menu-box-in h2{
  font-size: 21px;
  font-weight: bold;
}

.gelcose{
  margin-top: 80px;
}

.other{
  margin-top: 70px;
}

.gelcose-box{
  margin: 0 auto;
  width: 81%;
}

.itsmenu{
  margin-top: 25px;
  font-size: 16px;
}

.aaa-top{
  height: 10px;
  width: 95%;
  margin: 30px auto;
}

.aaa{
  width: 95%;
  margin: 0 auto;
  margin-top: 30px;
}

.bbb{
  width: 15%;
  float: left;
}
.bbb p{
  text-align: right;
  border-bottom: solid 0.5px black;
  font-size: 20px;
  padding-bottom: 5px;
}

.ccc{
  width: 85%;
  float: left;
  font-family: 'M PLUS 1p', sans-serif;
  border-bottom: solid 0.5px black;
  font-size: 20px;
  padding-bottom: 5px;
}

.note{
  font-size: 15px;
  line-height: 1.4em;
  width: 90%;
}

/*　プロフィール　*/

#profile{
  height: 850px;
  position: relative;
}
#profile h1{
  font-size: 25px;
  text-align: center;
  padding: 100px 0 60px 0;
  font-weight: bold;
  font-family: sans-serif;
}

.profile-img{
  height: 365px;
  width: 400px;
  background-image: image-url("IMG_3044.JPG");
  background-size: cover;
  position: absolute;
  top: 210px;
  left: 740px;
}
.profile-container{
  height: 40%;
  width: 55%;
  margin: 0 auto;
}

.staff p{
  font-family: 'Fredericka the Great', cursive;
  font-size: 32px;
  margin-top: 200px;
  width: 97px;
  font-weight: bold;
}

.carer p{
  font-size: 18px;
  padding: 50px 0 0 25px;
  width: 325px;
  line-height: 1.6em;
  color: #424242;
}

.under2{
  border-bottom: solid 2px #F781F3;
}

.commit p{
  width: 50%;
  font-size: 16px;
  padding: 60px 0 0 0;
  line-height: 1.8em;
  color: #424242;
}


/*　ご予約・お問い合わせ　*/

#inquiry{
  height: 770px;
  background-color: #fa8072;
  color: white;
}

.inquiry-top{
  background-color: #fa8072;
  font-size: 25px;
  font-weight: bold;
  padding: 100px 0 50px 0;
  text-align: center;
  font-family: sans-serif;
}

.inquiry-Content{
  height: 580px;
  background-color: #fa8072;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.inquiry-Content-in{
  height: 650px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.left{
  height: 90%;
  width: 90%;
}

.top{
  font-size:18px;
  margin-bottom: 40px;
  line-height: 1.4em;
  font-family: 'Noto Sans SC', sans-serif;
}

.address{
  font-size: 20px;
  margin-bottom: 20px;
  font-family: 'Noto Sans SC', sans-serif;
}

.time{
  margin-top: 5px;
  font-size: 15px;
  font-family: 'Noto Sans SC', sans-serif;
}



.link{
  font-size: 20px;
  margin-top: 10px;
  font-family: 'Noto Sans SC', sans-serif;
}

.space{
  margin-top: 20px;
}

.url{
  font-size: 18px;
  text-decoration: none;
  color: #000055;
  font-weight: bold;
  margin-top: 7px;
  font-family: 'Noto Sans SC', sans-serif;
}

.mapfream{
  position: absolute;
  top:110px;
  left: 530px;
}

.mapfream-pro{
  display: none;
}
.mapfream2{
  display: none;
}
.mapfream3{
  display: none;
}

// フッター
.footer{
  height: 35px;
  background-color: white;
  p {
    line-height: 35px;
    text-align: center;
    font-size: 12px;
  }
}
