// ipad pro
@media (max-width: 1050px) {

  /*　画面固定　*/

  #header{
    height: 70px;
  }

  .salon{
    font-size: 27px;
    margin-left: 30px;
    line-height: 70px;
  }


  .header-list{
    margin-left: 70px;
  }

  .header-list li{
    font-size: 14px;
    float: left;
    line-height: 70px;
    padding: 0 10px;
    font-weight: bold;
    font-family: 'Londrina Outline', cursive;
  }


  /*　トップ画像　*/

  #eyecach{
    height: 730px;
    margin-top: 70px;
    background-position: center top;
  }


  .eyecach-img-text h1{
    font-size: 60px;
  }

  /*　~について　*/
  #about{
    height: 730px;
  }

  .about-img{
    height: 390px;
    width: 450px;
    margin: 20px 0 0 60px;
  }

  .about-text{
    width: 400px;
    margin: 10px 0 0 50px;
  }

  .about-text p{
    font-size: 18px;
    line-height: 2.0em;
  }

  .about-text-2{
    margin: 5px 0;
  }

  .about-text-3{
    margin: 5px 0;
  }


  /*　メニューリスト　*/

  .menu-box-in h2{
    font-size: 20px;
  }

  .menu-box{
    height: 90%;
    width: 87%;
  }

  .menu-box-in{
    height: 80%;
    width: 90%;
  }


  .ccc p{
    font-size: 20px;
  }


  .ipad{
    display: none;
  }

  .bbb{
    width: 15%;
  }

  .bbb p{
    text-align: right;
    font-size: 20px;
  }

  .ccc{
    width: 85%;
    float: left;
    font-size: 25px;
  }

  .note2{
    font-size: 14px;
    line-height: 1.4em;
    width: 85%;
  }

  /*　プロフィール　*/

  #profile{
    height: 650px;
    position: relative;
  }

  .profile-img{
    height: 300px;
    width: 400px;
    top: 210px;
    left: 550px;
  }

  .profile-container{
    height: 55%;
    width: 80%;
    margin: 0 auto;
  }

  .staff p{
    margin-top: 45px;
  }

  .carer p{
    padding: 20px 0 0 25px;
  }

  .commit p{
    width: 50%;
    font-size: 16px;
    padding: 40px 0 0 0;
    line-height: 1.6em;
  }

  /*　ご予約・お問い合わせ　*/
  #inquiry{
    height: 680px;
  }

  .left{
    width: 100%;
  }

  .inquiry-Content{
    height: 60%;
  }

  .mapfream{
    display: none;
  }

  .mapfream2{
    display: none;
  }

  .mapfream-pro{
    display: block;
    position: absolute;
    top:100px;
    left: 440px;
  }

  .mapfream3{
    display: none;
  }

  // フッター
  .footer p{
    font-size: 14px;
  }
}

// ipad
@media (max-width: 770px) {
  /*　画面固定　*/

  .header-list{
    margin-left: 50px;
    li{
      padding: 0 7px;
    }
  }

  /*　トップ画像　*/
  #eyecach{
    height: 550px;
  }

  .eyecach-img-text h1{
    font-size: 50px;
  }

  /*　~について　*/
  #about{
    height: 620px;
  }

  .about-img{
    height: 330px;
    width: 350px;
    margin: 10px 0 0 30px;
  }

  .about-text{
    width: 330px;
    margin: 0 0 0 25px;
  }

  .about-text p{
    font-size: 16px;
  }

  .about-text-1{
    margin: 5px 0 10px 0;
  }

  /*　プロフィール　*/

  #profile{
    height: 700px;
  }

  .profile-img{
    height: 240px;
    width: 280px;
    top: 210px;
    left: 430px;
  }

  .profile-container{
    width: 83%;
    margin: 150px auto 0 auto;
  }

  .commit p{
    width: 65%;
    font-size: 17px;
    padding: 30px 0 0 0;
    line-height: 1.8em;
    color: #424242;
  }


  /*　ご予約・お問い合わせ　*/
  #inquiry{
    height: 580px;
  }

  .mapfream{
    display: none;
  }

  .mapfream2{
    display: block;
    position: absolute;
    top:110px;
    left: 410px;
  }

  .mapfream-pro{
    display: none;
  }

  .mapfream3{
    display: none;
  }
}

// ipone 6 7 8 plus:
@media (max-width: 420px) {
  /* 画面固定 */
  #header{
    height: 70px;
  }

  .pc-none{
    display: block;
  }

  .salon{
    font-size: 25px;
    margin-left: 10px;
    line-height: 70px;
  }

  .header-list{
    display: none;
  }

  nav.globalMenuSp {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    text-align: center;
    transform: translateY(-100%);
    transition: all 0.2s;
    width: 100%;
  }

  .navToggle {
    display: block;
    position: fixed;    /* bodyに対しての絶対位置指定 */
    right: 13px;
    top: 12px;
    width: 42px;
    height: 51px;
    cursor: pointer;
    z-index: 3;
    background: #ff69b4;
    text-align: center;
  }

  .navToggle span {
    display: block;
    position: absolute;    /* .navToggleに対して */
    width: 30px;
    border-bottom: solid 3px white;
    -webkit-transition: .35s ease-in-out;
    -moz-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
    left: 6px;
  }

  .navToggle span:nth-child(1) {
      top: 9px;
    }

  .navToggle span:nth-child(2) {
    top: 18px;
  }

  .navToggle span:nth-child(3) {
    top: 27px;
  }

  .navToggle span:nth-child(4) {
    border: none;
    color: white;
    font-size: 10px;
    font-weight: bold;
    top: 34px;
  }

  /* 最初のspanをマイナス45度に */
  .navToggle.active span:nth-child(1) {
    top: 18px;
    left: 6px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  /* 2番目と3番目のspanを45度に */
  .navToggle.active span:nth-child(2),
  .navToggle.active span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  nav.globalMenuSp ul {
    background: #ff69b4;
    margin: 70px auto 10px;
    padding: 40px 0;
    width: 100%;
  }

  nav.globalMenuSp ul li {
    font-size: 1.1em;
    list-style-type: none;
    padding: 0;
    width: 100%;
  }


  nav.globalMenuSp ul li a {
    text-decoration:none;
    display: block;
    color: white;
    font-family: 'Londrina Outline', cursive;
    padding: 1em 0;
    font-weight: bold;
  }

  /* このクラスを、jQueryで付与・削除する */
  nav.globalMenuSp.active {
    transform: translateY(0%);
  }

  /*　トップ画像　*/
  #eyecach{
    height: 280px;
    color: white;
    background-image: image-url("IMG_2965.JPG");
    background-position: 100% 30%;
    position: relative;
    opacity: 0.85;
    margin-top: 70px;
  }

  .eyecach-img-text h1{
    font-size: 33px;
    font-family: 'Londrina Outline', cursive;
    position: absolute;
    bottom: 10px;
    left: 10px;
    opacity: 0.5;
    display: block;
  }

  .eyecach-img-text p{
    font-size: 14px;
  }


  /*　~について　*/
  #about{
    height: 780px;
  }

  #about h1{
    padding: 90px 0 20px 0;
    font-size: 21px;
  }

  .about-img{
    height: 200px;
    width: 83%;
    float:none;
    margin: 20px auto;
  }

  .about-text{
    height: 350px;
    width: 80%;
    float: none;
    margin: 30px auto 10px;
  }

  .about-text p{
    font-size: 16px;
    line-height: 1.8em;
    text-align: center;
  }

  .about-text-1{
    margin-top: 5px;
  }

  .about-text-2{
    margin: 25px 0;
  }

  /*　メニューリスト　*/
  #menu{
    height: 1150px;
  }

  .menu-box{
    height: 87%;
    width: 87%;
  }

  .menu-box h1{
    padding: 10px 0;
    font-size: 21px;
  }

  .menu-box-in{
    width: 90%;
    height: 90%
  }

  .menu-box-in h2{
    font-size: 17px;
    font-weight: bold;
  }

  .gelcose{
    margin-top: 30px;
  }

  .other{
    margin-top: 50px;
  }

  .gelcose-box{
    margin: 0 auto;
    width: 90%;
  }

  .itsmenu{
    font-size: 13px;
  }

  .bbb{
    width: 20%;
    float: left;
  }
  .bbb p{
    text-align: right;
    font-size: 15px;
  }

  .ccc{
    width: 80%;
    float: left;
    p{
      font-size: 15px;
    }
  }

  .plus-none{
    display: none;
  }

  .ip-font{
    font-size: 5px;
  }

  .note{
    font-size: 12px;
  }

  .note2{
    font-size: 0.7em;
    line-height: 1.4em;
    width: 83%;
  }

  /*　プロフィール　*/
  #profile{
    height: 650px;
  }

  #profile h1{
    padding: 100px 0 10px 0;
    font-size: 21px;
  }

  .profile-img{
    height: 170px;
    width: 178px;
    top: 170px;
    left: 200px;
  }

  .profile-container{
    width: 100%;
  }

  .staff p{
    margin: 175px 0 0 40px;
    font-size: 26px;
    width: 86px;
  }

  .carer p{
    padding: 30px 0 0 45px;
    width: 85%;
    letter-spacing: 1px;
    font-size: 16px;
  }

  .commit p{
    font-size: 15px;
    width: 85%;
    margin: 0 auto;
    line-height: 2em;
  }

  /*　ご予約・お問い合わせ　*/

  #inquiry{
    height: 800px;
  }

  .inquiry-top{
    padding: 100px 0 20px 0;
    font-size: 21px;
  }

  .left{
    width: 100%;
  }

  .top{
    font-size:17px;
    margin-bottom: 30px;
  }

  .address{
    font-size: 17px;
  }

  .time{
    font-size: 14px;
  }

  .link{
    font-size: 14px;;
  }

  .url{
    font-size: 16px;
    margin-top: 7px;
  }

  .mapfream{
    display: none;
  }

  .mapfream2{
    display: block;
    position: absolute;
    top:370px;
    left: 40px;
  }

  .mapfream3{
    display: none;
  }
  // フッター
  .footer{
    height: 27px;
    background-color: white;
    p {
      line-height: 27px;
      text-align: center;
      font-size: 10px;
    }
  }
}

// ipone 6 7 8
@media (max-width: 380px) {
  /*　~について　*/

  #about{
    height: 740px;
  }

  .about-text p{
    font-size: 14px;
    line-height: 1.8em;
    text-align: center;
  }

  /*　プロフィール　*/

  #profile{
    height: 630px;
  }

  .profile-img{
    height: 174px;
    width: 168px;
    top: 170px;
    left: 170px;
  }

  .staff p{
    margin: 175px 0 0 30px;
  }

  .carer p{
    font-size: 14px;
  }

  .commit p{
    font-size: 14px;
  }

  /*　ご予約・お問い合わせ　*/

  .link{
    font-size: 14px;
  }

  .mapfream2{
    top:390px;
    left: 22px;
  }
}

// Galaxy 5s
@media (max-width: 361px) {

  /*　トップ画像　*/

  #eyecach{
    height: 250px;
  }

  /*　~について　*/

  #about{
    height: 760px;
  }

  .about-img{
    width: 87%;
  }

  .about-text{
    height: 350px;
    width: 85%;
    float: none;
    margin: 30px auto 10px;
    p{
      font-size: 15px;
    }
  }

  /*　メニューリスト　*/

  #menu{
    height: 1120px;
  }

  .menu-box-in h2{
    font-size: 15px;
  }

  .note{
    font-size: 11px;
  }

  .se-none{
    display: none;
  }

  /*　プロフィール　*/

  #profile{
    height: 560px;
  }

  #profile h1{
    padding: 85px 0 10px 0;
    font-size: 21px;
  }

  .profile-img{
    height: 150px;
    width: 150px;
    top: 160px;
  }

  .profile-container{
    height: 40%;
    width: 90%;
  }

  .staff p{
    margin: 100px 0 0 30px;
    font-size: 22px;
    width: 86px;
  }

  .carer p{
    padding: 30px 0 0 40px;
    font-size: 12px;
  }

  .commit p{
    font-size: 12px;
    width: 85%;
    margin: 0 auto;
    line-height: 2em;
  }

  /*　ご予約・お問い合わせ　*/
  #inquiry{
    height: 730px;
  }

  .top{
    font-size:15px;
    margin-bottom: 30px;
  }
  .time{
    font-size: 12px;
  }

  .link{
    font-size: 15px;
  }

  .url{
    font-size: 14px;
  }

  .mapfream2{
    display: none;
  }
  .mapfream3{
    display: block;
    position: absolute;
    top:340px;
    left: 40px;
  }
}

  // SE
  @media (max-width: 330px) {

    /*　~について　*/

    #about{
      height: 720px;
    }
    .about-text p{
      font-size: 13px;
    }

    /*　メニューリスト　*/
    #menu{
      height: 1050px;
    }

    .menu-box{
      height: 92%;
    }

    .note{
      width: 95%;
    }

    /*　プロフィール　*/
    .profile-img{
      left: 140px;
    }

    .staff p{
      margin: 0px 0 0 21px;
      font-size: 22px;
      width: 86px;
    }

    .carer p{
      padding: 40px 0 0 20px;
      font-size: 12px;
    }

    .commit p{
      font-size: 12px;
      width: 92%;
      margin: 0 auto;
      line-height: 2em;
    }

    /*　ご予約・お問い合わせ　*/
    .mapfream3{
      top:340px;
      left: 21px;
    }
  }
