<!DOCTYPE html>
<html>
  <head>
    <title>First Beauty Action</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <link rel="stylesheet" type="text/css"
          href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <%= stylesheet_link_tag    'application', media: 'all',
                               'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application',
                               'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
    <link href="https://fonts.googleapis.com/css?family=Boogaloo|Bungee|Bungee+Inline|Carter+One|Fredericka+the+Great|Shrikhand" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash|Cabin+Sketch|Fredericka+the+Great|Knewave|Londrina+Outline|Patrick+Hand|Ranchers" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <div id="header">
      <%= link_to "First Beauty Action", '#', id: "logo", class: "salon" %>
      <nav class="header-list">
        <li><a class="text" href="#about">サロンについて</a></li>
        <li><a class="text" href="#menu">メニュー</a></li>
        <li><a class="text" href="#profile">プロフィール</a></li>
        <li><a class="text" href="#inquiry">ご予約/お問い合わせ</a></li>
      </nav>
      <div class="pc-none">
        <div class="navToggle" id="navToggle-id">
          <span></span><span></span><span></span><span>menu</span>
        </div>
        <nav class="globalMenuSp" id="globalMenuSp-id">
          <ul>
            <li><a href="#about">サロンについて</a></li>
            <li><a href="#menu">メニュー</a></li>
            <li><a href="#profile">プロフィール</a></li>
            <li><a href="#inquiry">ご予約/お問い合わせ</a></li>
          </ul>
        </nav>
        </div>
      </div>
      <%= yield %>
  </body>
  <script>
    $(function() {
      $('.navToggle').click(function() {
        $(this).toggleClass('active');
        // console.log($(this).toggleClass('active'));
        console.log($(this));
        if ($(this).hasClass('active')) {
          $('.globalMenuSp').addClass('active');
        } else {
          $('.globalMenuSp').removeClass('active');
        }
      });
    });
    </script>
    <script>
    $(function() {

      var scrollElm = (function() {
        if('scrollingElement' in document) {
          return document.scrollingElement;
        }
        if(navigator.userAgent.indexOf('WebKit') != -1) {
          return document.body;
        }
        return document.documentElement;
      })();

      // console.log("start");
      // $('.globalMenuSp a').click(function(){
      $(document).on("click", ".globalMenuSp a", function(){
        var id = $(this).attr('href');
        var position = $(id).offset().top;
        var callback = function(){ console.log("done")};
        console.log(scrollElm);
        $(scrollElm).animate({
          'scrollTop': position
        }, 300, callback);
        console.log("done");
        //クリックした後に
        //if トグルにactiveが有ったら
        if ($('#navToggle-id').hasClass('active')) {
          // トグルのactiveを消す
          $('#navToggle-id').removeClass('active');
          $('#globalMenuSp-id').removeClass('active');
        }
        return false;
      });
    });
    </script>

    <!-- pc -->
    <script>
    $(function() {

      var scrollElm = (function() {
        if('scrollingElement' in document) {
          return document.scrollingElement;
        }
        if(navigator.userAgent.indexOf('WebKit') != -1) {
          return document.body;
        }
        return document.documentElement;
      })();

      // console.log("start");
      // $('.globalMenuSp a').click(function(){
      $(document).on("click", ".header-list a", function(){
        var id = $(this).attr('href');
        var position = $(id).offset().top;
        var callback = function(){ console.log("done")};
        console.log(scrollElm);
        $(scrollElm).animate({
          'scrollTop': position
        }, 300, callback);
        console.log("done");
        //クリックした後に
        //if トグルにactiveが有ったら
        return false;
      });
    });
    </script>
</html>
